html, body, #root, #root>div, .x-index {
  height: 100%;
  margin: 0;
}

.x-menu {
  position: fixed;
  height: 100%;
  width: 250px;
  box-shadow: 0 0 10px rgba(100, 100, 128, 0.6);
  z-index: 1000;
}

.x-main {
  padding-left: 250px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.el-menu-item a {
  display: flex;
  text-decoration: none;
  color: unset;
}