.qqMusic {
  padding-top: 50px;
  padding-bottom: 70px;
  background: url( ../image/bg_detail.jpg ) 50% 0 repeat-x;
}

.qqMusic img.small {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

.qqMusic .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qqMusic .el-table {
  border: 0;
}

.qqMusic .el-table td, .el-table th.is-leaf {
  border: 0 !important;
}

.qqMusic .el-table::after, .el-table::before {
  background-color: unset;
}

.qqMusic .top-list {
  border: 1px solid rgba(153,153,153,.2);
}

.qqMusic .top-list .top-list-title {
  line-height: 50px;
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  margin: 0 17px 10px;
}

.qqMusic .top-list .top-list-item {
  padding: 0 17px;
  line-height: 35px;
  cursor: pointer;
}

.qqMusic .top-list .top-list-item.active,
.qqMusic .top-list .top-list-item.active:hover {
  color: #ffffff;
  background: #31c27c;
  cursor: default;
}

.qqMusic .top-list .top-list-item:hover,
.qqMusic .music-list .music-sing .music-singname:hover {
  color: #31c27c;
}

.qqMusic .music-main {
  margin-left: 20px;
}

.qqMusic .music-main .music-top-title {
  font-size: 25px;
  margin: 5px 0 15px 0;
}

.qqMusic .music-list .music-index {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.qqMusic .music-list .number-list {
  font-size: 20px;
  font-weight: 100;
}

.qqMusic .music-list .number-list.number-top {
  color: red;
}

.qqMusic .music-list .music-index .music-log {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qqMusic .music-list .music-index .music-log .music-up-img {
  width: 15px;
  height: 15px;
  background-position: 0 -60px;
  background-image: url( '../image/icon_rank.png' );
}

.qqMusic .music-list .music-index .music-log .music-log-number {
  color: #999;
  font-size: 12px;
}

.qqMusic .music-list .music-sing {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.qqMusic .music-list .music-sing .music-singname {
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
  flex-shrink: 0;
}

.qqMusic .music-list .music-sing .music-singdesc {
  color: #999;
}

.qqMusic .music-list .music-buttom {
  line-height: 30px;
  margin-left: 15px;
  flex-shrink: 99999;
  width: 100%;
}

.qqMusic .music-list .el-table__row .music-buttom .music-play {
  float: right;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.qqMusic .music-list .el-table__row:hover .music-buttom {
  min-width: 70px;
}

.qqMusic .music-list .el-table__row:hover .music-buttom .music-play {
  width: 30px;
  height: 30px;
  opacity: 1;
  background: url( '../image/play.png' );
  background-size: 100% 100%;
}

.qqMusic .music-list .el-table__row:hover .music-buttom .music-play:hover {
  background: url( '../image/play-active.png' );
  background-size: 100% 100%;
}

.qqMusic .playMusic {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  left: 250px;
  right: 0;
  bottom: 0;
  background: #31c27c;
  z-index: 99999;
}

.qqMusic .music-control {
  width: 90%;
}

.qqMusic .music-control .control-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.qqMusic .music-control .control-button div {
  cursor: pointer;
  background-image: url( '../image/play-button.png' )
}

.qqMusic .music-control .control-button .prev {
  width: 20px;
  height: 20px;
  background-position: 0 -30px;
}

.qqMusic .music-control .control-button .play {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-position: -30px 0;
}

.qqMusic .music-control .control-button .pause {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-position: 0 0;
}

.qqMusic .music-control .control-button .next {
  width: 20px;
  height: 20px;
  background-position: 0 -52px;
}

.qqMusic .music-control .control-button div.disabled {
  opacity: 0.5;
  cursor: default;
}

.qqMusic .music-progress,
.qqMusic .music-volume,
.qqMusic .play-list-button {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 20px;
}

.qqMusic .music-progress .songname {
  position: absolute;
  top: 7px;
  color: #ffffff;
}

.qqMusic .music-progress .singtime {
  position: absolute;
  top: 10px;
  color: #ffffff;
  right: 0;
  font-size: 14px;
}

.qqMusic .music-volume .volume {
  cursor: pointer;
  width: 30px;
  height: 25px;
  background-image: url( '../image/play-button.png' );
  background-position: 0 -141px;
  margin-right: 10px;
}

.qqMusic .play-list-button .list {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url( '../image/music-list.png' );
  background-size: 100% 100%;
  margin-left: 20px;
}

.qqMusic .playList {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  right: 0;
  background: #ffffff;
  z-index: 90000;
}

.qqMusic .playList .list-top {
  padding: 15px;
  background: #31c27c;
  font-size: 14px;
}

.qqMusic .playList .list-top .list-title {
  line-height: 30px;
  font-size: 22px;
  margin-bottom: 15px;
}

.qqMusic .playList .list-top .list-number {

}
.qqMusic .playList .list-top .list-clear {
  cursor: pointer;
}

.qqMusic .playList .list-content {
  padding: 15px;
}

.qqMusic .playList .list-content .list-item {
  display: flex;
}

.qqMusic .playList .list-content .list-item .song-introduce {
  overflow: hidden;
}

.qqMusic .playList .list-content .list-item .songtime {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}