.qqMusic {
  height: 100%;
  padding-top: 50px;
  background: url( ../image/bg_detail.jpg ) 50% 0 repeat-x;
}

.qqMusic .top-list {
  border: 1px solid rgba(153,153,153,.2);
}

.qqMusic .top-list .top-list-title {
  line-height: 50px;
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  margin: 0 17px 10px;
}

.qqMusic .top-list .top-list-item {
  padding: 0 17px;
  line-height: 35px;
  cursor: pointer;
}

.qqMusic .top-list .top-list-item.active,
.qqMusic .top-list .top-list-item.active:hover {
  color: #ffffff;
  background: #31c27c;
  cursor: default;
}

.qqMusic .top-list .top-list-item:hover {
  color: #31c27c;
}